$header-height: 80px;
$sidebar-width: 240px;
$header-height-mobile: 40px;
$footer-height: 60px;
$tablet-width-max: 1024px;
$tablet-width-min: 768px;
$mobile-width-max: 767px;
$page-content-width: 1280px;
$page-content-width-tablet: 100%;
