.pac-man {
  width: fit-content;

  &__header {
    background-color: black;
    border: 3px solid #0000ff;

    button {
      background-color: #18202e;
      border: 2px solid #00fff5;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #00fff5;
      border-radius: 4px;
      font-family: 'Digital7', monospace;
      font-size: 1.6rem;
      text-shadow: 0 0 2px rgba(0, 255, 245, 0.5);
    }
  }

  .board {
    display: inline-block;
    overflow: hidden;
    background: black;
    border: 3px solid #0000ff;
    box-shadow: 0 0 12px #0000ff;

    .wall {
      background: #0000ff;
      border: 1px solid #0202c9;
    }

    .gate {
      background: #e3e3ff;
    }

    .empty {
      background: black;
    }

    .ghost {
      &.left {
        transform: rotateY(-180deg);
      }
      &.right {
        transform: rotate(0deg);
      }
    }

    .player {
      position: absolute;
      background-color: yellow;
      border-radius: 50%;
      z-index: 1;

      &.flash-pulse {
        animation: flash-pulse 0.1s infinite ease-in-out;
      }

      &.fail {
        animation: fade 2s forwards ease-in-out;
      }

      &.up {
        transform: rotate(-90deg);
      }
      &.left {
        transform: rotateY(-180deg);
      }
      &.down {
        transform: rotate(90deg);
      }
      &.right {
        transform: rotate(0deg);
      }

      &::before {
        content: '';
        position: absolute;
        top: 2px;
        right: 5px;
        width: 4px;
        height: 4px;
        background: black;
        border-radius: 50%;
      }

      &.animate::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border-color: transparent;
        border-top-color: black;
        border-style: solid;
        border-width: 10px;
        transform: translate(-50%, -50%) rotate(90deg);
        animation: chomp 0.2s infinite ease-in-out;
      }
    }
  }
}

.cell {
  width: 20px;
  height: 20px;
}

.pellet,
.power {
  background: black;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ffb8ae;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

.power {
  &::after {
    width: 8px;
    height: 8px;
  }
}

.pellet {
  &::after {
    width: 4px;
    height: 4px;
  }
}

.score {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: 'Digital7', monospace;
  color: #00fff5;
}

@keyframes chomp {
  0% {
    border-width: 10px;
  }
  100% {
    border-width: 10px 1px 10px 1px;
  }
}

@keyframes flash-pulse {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: red;
  }
}

@keyframes fade {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}
