.layout {
  height: 100vh;
  background: $background-light;
  color: $text-dark;

  .main {
    margin-left: $sidebar-width;
    min-height: calc(100% - $header-height - $footer-height);
  }
}

.notification {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &-icons {
    margin-bottom: 24px;
    position: relative;
    .ban-icon {
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: center;
      transform: scale(1.8);
    }
  }
}

@media (max-width: 1024px) {
  .notification {
    display: flex;
  }

  .layout {
    display: none;
  }
}
