.layout {
  height: 100vh;
  background: $background-light;
  color: $text-dark;

  .main {
    margin-left: $sidebar-width;
    min-height: calc(100% - $header-height - $footer-height);
  }
}

.notification {
  display: none;
  width: 100%;
  height: 100vh;

  &-icons {
    .ban-icon {
      top: 0;
      left: 0;
      transform-origin: center;
      transform: scale(1.8);
    }
  }
}

@media (max-width: 1024px) {
  .notification {
    display: flex;
  }

  .layout {
    display: none;
  }
}
