.minesweeper {
  &__cell {
    font-family: 'Digital7', monospace;
    width: 32px;
    height: 32px;
    user-select: none;
    background: linear-gradient(145deg, #3c485c, #18202e);
    border: 2px solid #4a5568;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.2rem;
    color: #e2e8f0;
    line-height: 1.2rem;
    transition: all 0.15s ease;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: translateY(1.01);
    }

    &.flag {
      &.wrong {
        color: #ef4444;
      }
    }

    &.revealed {
      background: #18202e;
      border-color: #2d3748;
      cursor: default;
      transform: none;

      &.mine {
        background: #ef4444;
        color: #fff;

        .explosion {
          background: #efc744;
        }
      }

      &.n1 {
        color: #3b82f6;
      }
      &.n2 {
        color: #16a34a;
      }
      &.n3 {
        color: #dc2626;
      }
      &.n4 {
        color: #7c3aed;
      }
      &.n5 {
        color: #d97706;
      }
      &.n6 {
        color: #0d9488;
      }
      &.n7 {
        color: #facc15;
      }
      &.n8 {
        color: #9ca3af;
      }
    }
  }

  &__board {
    max-width: max-content;
    background-color: #1a1f2c;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.05),
      inset -2px -2px 4px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.4);

    .heading {
      color: $neon-green;
      border: 2px solid #2d3748;
      background-color: #18202e;
      border-radius: 6px;
      font-size: 2.5rem;
      font-weight: 500;
      font-family: 'Digital7', monospace;
      text-shadow: 0 0 2px $neon-green-shadow, 0 0 2px $neon-green-shadow,
        0 0 2px $neon-green-shadow;

      button {
        background-color: #18202e;
        border: 2px solid $neon-green;
        color: $neon-green;
        border-radius: 4px;
        font-family: 'Digital7', monospace;
        font-size: 1.6rem;
        text-shadow: 0 0 2px $neon-green-shadow;

        &:hover {
          background-color: $neon-green;
          color: #18202e;
          text-shadow: none;
        }
      }

      .status {
        flex: 1;
        text-align: center;
        &.win {
          color: $neon-green;
        }
        &.lose {
          color: $neon-red;
          text-shadow: 0 0 2px $neon-red-shadow;
        }
      }
    }
  }
}
